<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<bod class="desBody">
    <main class="description">
        <section class="desLeft">
            <figure class="dSlideMain">
                <img src="https://i.pinimg.com/564x/1a/96/7c/1a967c2551c5b7ede76036759ac1ee89.jpg" alt="">
            </figure>
            <figure class="dSlideSub">
                <button onclick="test()">
                    <img src="https://i.pinimg.com/564x/1a/96/7c/1a967c2551c5b7ede76036759ac1ee89.jpg" alt="">
                </button>
                <button>
                    <img class="secPic" src="https://i.pinimg.com/564x/1a/96/7c/1a967c2551c5b7ede76036759ac1ee89.jpg" alt="">
                </button>
                <button>
                    <img class="thdPic" src="https://i.pinimg.com/564x/1a/96/7c/1a967c2551c5b7ede76036759ac1ee89.jpg" alt="">
                </button>
                <button>
                    <img class="forPic" src="https://i.pinimg.com/564x/1a/96/7c/1a967c2551c5b7ede76036759ac1ee89.jpg" alt="">
                </button>
            </figure>
        </section>
        <section class="desRight">
            <h2>Title of the clothing including brand title title title</h2>
            <section>
                <article>
                    <section>
                        <h3>$100</h3>
                        <span>
                            <h4>Shoes,</h4>
                            <h4>Casual Shoes</h4>
                        </span>
                    </section>
                    <section>
                        <button class="buyDes">
                            Buy
                        </button>
                        <label for="wishlist">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-heart"></i>
                        </label>
                        <button hidden class="like" id="wishlist" onclick="test()"></button>
                    </section>
                </article>
                <p>
                    Description of the product. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est dolor qui, obcaecati ipsam eveniet at quis atque ea fuga, minima necessitatibus sequi quidem dicta possimus aut magnam, sint illum eligendi.
                </p>
            </section>
            <ul>
                <li>Size: <strong>27</strong></li>
                <li>Color: <strong>Brown</strong></li>
                <li>Gender: <strong>Men</strong></li>
            </ul>
            <blockquote>
                <figure>
                    <figcaption><h3>Sold by: Einstein</h3></figcaption>
                    <img src="https://i.pinimg.com/736x/3f/d0/c2/3fd0c2a7864af5fcb9cc86738dd4a0ff.jpg" alt="">
                </figure>
                <section class="comments">
                    <article>
                        <figure class="question">
                            <img src="https://i.pinimg.com/736x/6e/c0/b4/6ec0b423324f74d00b509392f5626072.jpg" alt="">
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore alias doloribus odio, molestias fugit nostrum saepe repellendus maiores quisquam dolorum?
                            </figcaption>
                        </figure>
                        <figure class="answer">
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dignissimos repudiandae similique adipisci tenetur facere voluptates iure excepturi distinctio cumque.
                            </figcaption>
                            <img src="https://i.pinimg.com/736x/3f/d0/c2/3fd0c2a7864af5fcb9cc86738dd4a0ff.jpg" alt="">
                        </figure>
                    </article>
                </section>
                <form action="#">
                    <textarea name="comment" id="comment" placeholder="Write your comment"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </blockquote>
        </section>
    </main>
</body>
</html>
<script>
    function test(){
        console.log("test");
    }
</script>